extends ../../layout

block content
  include ../nav.pug
  div(class="container")
    div(class="row")
      div(class="col-xs-12")
        h5 Ty's Project Create Page
    br
    form(action="/admin/createproject" method="POST")
      label Title
      input(class="form-control" type="text" name="title")
      br
      label Image Url
      input(class="form-control" type="text" name="imageUrl")
      br
      label Link Url
      input(class="form-control" type="text" name="linkUrl")
      br
      input(class="form-control" type="submit" value="Submit Project")