div(id="marg")
div(class="container")
  div(class="row")
    div(class="col-xs-12")
      ul(class="nav nav-tabs")
        li(role="presentation") 
          a(href="/admin/dashboard") Dashboard
        li(role="presentation")
          a(href="/admin/allusers") Users
        li(role="presentation")
          a(href="/admin/office") Office
        li(role="presentation")
          a(href="/admin/allcourses") Courses
        li(role="presentation")
          a(href="/admin/allprojects") Projects
        li(role="presentation")
          a(href="/admin/incomingmessages") Messages