ul(class="nav nav-tabs")
  li(class="nav-item") 
    a(class="nav-link" href="/admin/dashboard") Dashboard
  li(class="nav-item")
    a(class="nav-link" href="/admin/allusers") Users
  li(class="nav-item")
    a(class="nav-link" href="/admin/office") Office
  li(class="nav-item")
    a(class="nav-link" href="/admin/allcourses") Courses
  li(class="nav-item")
    a(class="nav-link" href="/admin/allprojects") Projects
  li(class="nav-item")
    a(class="nav-link" href="/admin/allservices") Services
  li(class="nav-item")
    a(class="nav-link" href="/admin/allblogs") Blogs
  li(class="nav-item")
    a(class="nav-link" href="/admin/incomingmessages") Messages