div(class="container" id="fixed")
  div(class="row")
    div(class="col")
      img(class="img-fluid" src="/images/my_logo.png")
    div(class="col")
      img(id="splashMenu" src="/images/menu.png")
      div(id="showMenu")
        ul(class="nav flex-column")
          li(class="nav-item")
            a(class="nav-link" href="/" id="logo")
              h5 Home
          li(class="nav-item")
            a(class="nav-link" href="/static/allservices" id="logo")
              h5 Services
          li(class="nav-item")
            a(class="nav-link" href="/static/allcourses" id="logo")
              h5 Courses
          li(class="nav-item")
            a(class="nav-link" href="/static/allprojects" id="logo")
              h5 Projects
          li(class="nav-item")
            a(class="nav-link" href="/static/allblogs" id="logo")
              h5 Vlog
          li(class="nav-item")
            a(class="nav-link" href="/static/gallery" id="logo")
              h5 Gallery
          li(class="nav-item")
            a(class="nav-link" href="/messages/contact" id="logo")
              h5 Contact Me
script(src="/js/nav/home_nav.js")