extends layout

block content
  div(id="body")
    div(id="splash")
      h1(class="text-center") Turn Your Vision Into A Reality
      br
      h1(class="text-center" id="randomWord")
  div(id="coursesMain")
    div(class="container")
      div(id="margy")
        div(class="row")
          div(class="col-sm-12")
            h1(class="text-center") Courses
        div(id="littleMargy")
          div(class="row")
            div(class="col")
              center
                a(href="/static/showcourse/590cc9e58baf9510fcfb3a51" id="bt2")
                  img(src="images/html5.png" id="mainImages")
                  div(id="space")
                  h3 Html5
            div(class="col")
              center
                a(href="/static/showcourse/590ba9f919d6711431d5ca53" id="bt2")
                  img(src="images/js.png" id="mainImages")
                  div(id="space")
                  h3 Javascript
            div(class="col")
              center
                a(href="/static/showcourse/590baac019d6711431d5ca55" id="bt2")
                  img(src="images/php.png" id="mainImages")
                  div(id="space")
                  h3 PHP
          hr
          br
          div(class="row")
            div(class="col-sm-12")
              center
                button(class="btn btn-primary" id="mainButton")
                  a(href="/static/allcourses") More Courses I Offer
  div(id="servicesMain")
    div(class="container")
      div(id="margy")
        div(class="row")
          div(class="col-sm-12")
            h1(class="text-center") Services
        div(id="littleMargy")
          div(class="row")
            div(class="col")
              center
                a(href="/static/showservice/59f37a95e769b213b80610fd" id="bt2")
                  img(src="/images/graphics.png" id="mainImages")
                  div(id="space")
                  h3 Graphics
            div(class="col")
              center
                a(href="/static/showservice/59f37d3ae769b213b8061104" id="bt2")
                  img(src="images/html5.png" id="mainImages")
                  div(id="space")
                  h3 Web
            div(class="col")
              center
                a(href="/static/showservice/59f37dd0e769b213b8061107" id="bt2")
                  img(src="images/js.png" id="mainImages")
                  div(id="space")
                  h3 Apps
          hr
          br
          div(class="row")
            div(class="col-sm-12")
              center
                button(class="btn btn-primary" id="mainButton")
                  a(href="/static/allservices") More Services I Offer
  div(id="meMain")
    div(id="margy" class="container")
      div(class="row")
        div(class="col-sm-12")
          h1(class="text-center") Hi, I'm Tyquan
      div(id="littleMargy")
        div(class="row")
         div(class="col")
           center
              img(src="/images/profile.jpg" id="main-profile" class="img-thumbnail")
         div(class="col")
           p Certified Javascript, Python and MongDB Developer
           p Adobe Designer
           p Currently Focused on C# Programming, VR/AR and Artificial Intelligence
        br
        br
        div(class="row")
          div(class="col")
            h4(class="text-center") Connect With Me
            h5(class="text-center")
              a(href="mailto:tjreddick@gmail.com")
                i(class="fa fa-envelope-o" aria-hidden="true") 
              a(href="http://www.meetup.com/members/154846722/" target="_blank")
                i(class="fa fa-users") 
              a(href="http://www.github.com/Tyquan" target="_blank")
                i(class="fa fa-github") 
              a(href="https://www.linkedin.com/in/tyquanreddick" target="_blank")
                i(class="fa fa-linkedin fa-fw") 
              a(href="http://codepen.io/Tyquan/" target="_blank")
                i(class="fa fa-pencil-square-o") 
              a(href="http://www.freecodecamp.com/tyquan" target="_blank")
                i(class="fa fa-trophy")
              a(href="https://www.youtube.com/channel/UCJlAkRDaMAMS5Mlr3125ZWA")
                i(class="fa fa-youtube" aria-hidden="true")
  script(src="/js/randomword.js")