extends layout

block content
  div(class="row")
    div(class="col-md-12")
      div(id="main-bg")
        div(id="bg-stuff")
          h1 Turn Your Dreams Into a Reality
          p Start Your Web Development Journey Today
          br
  div(class="container")
    div(class="row")
      div(class="col-xs-12")
        h1 Available Courses
    div(class="row")
      div(class="col-md-4")
        img(src="../images/html5.png" class="img-responsive")
        h3(class="text-center") HTML5 / CSS3 Training
      div(class="col-md-4")
        img(src="../images/js.png" class="img-responsive")
        h3(class="text-center") Javascript Training
      div(class="col-md-4")
        img(src="../images/jquery.png" class="img-responsive")
        h3(class="text-center") Jquery Training
    div(class="row")
      div(class="col-md-4")
        img(src="../images/angularjs.png" id="learning-image")
        h3(class="text-center") Front End Development Training
      div(class="col-md-4")
        img(src="../images/nodejs.png" id="learning-image")
        h3(class="text-center") Nodejs / Backend Training
      div(class="col-md-4")
        img(src="../images/php.png" class="img-responsive")
        h3(class="text-center") PHP Training
    br
    div(class="row")
      div(class="col-xs-12")
        center
          a(href="/static/allcourses")
            div(class="wrap")
              div(class="button rollover")
                span(class="roll-text") View All Courses
                span(class="roll-text") Lets Go
    hr
    div(class="row")
      div(class="col-md-12")
        h3(class="text-center") Certified Javascript and NO-SQL Database Developer
        br
        h2(class="text-center")
          a(href="mailto:tjreddick@gmail.com")
            i(class="fa fa-envelope-o" aria-hidden="true") 
          a(href="http://www.meetup.com/members/154846722/" target="_blank")
            i(class="fa fa-users") 
          a(href="http://www.github.com/Tyquan" target="_blank")
            i(class="fa fa-github") 
          a(href="https://www.linkedin.com/in/tyquanreddick" target="_blank")
            i(class="fa fa-linkedin fa-fw") 
          a(href="http://codepen.io/Tyquan/" target="_blank")
            i(class="fa fa-pencil-square-o") 
          a(href="http://www.freecodecamp.com/tyquan" target="_blank")
            i(class="fa fa-trophy") 
          a(href="https://www.youtube.com/channel/UCJlAkRDaMAMS5Mlr3125ZWA")
            i(class="fa fa-youtube" aria-hidden="true")
    br
    div(class="row")
      div(class="col-md-8")
        iframe(src="https://www.youtube.com/embed/kOONZIKJ2Zw?list=PLeEPSOS9_Mny3Fz-mUKwM1XmU05RZNYtr?ecver=1" allowfullscreen="" width="100%" height="425" frameborder="0")
      div(class="col-md-4")
        img(src="../images/profile.jpg" class="img-responsive")
  
                        
      
      
      
      
      
      
      
      
      