doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/tablet.css')
    link(rel='stylesheet', href='/stylesheets/desktop.css')
  body
    nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="nav")
      div(class="container")
        a(class="navbar-brand" id="logo" href="/") Tyquan Reddick
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="nav nav-fill mr-auto")
              li(class="nav-item")
                a(class="nav-link" href="/" id="logo")
                  h5 Home
              li(class="nav-item")
                a(class="nav-link" href="/static/allservices" id="logo")
                  h5 Services
              li(class="nav-item")
                a(class="nav-link" href="/static/allcourses" id="logo")
                  h5 Courses
              li(class="nav-item")
                a(class="nav-link" href="/static/allprojects" id="logo")
                  h5 Projects
              li(class="nav-item")
                a(class="nav-link" href="/static/allblogs" id="logo")
                  h5 Vlog
              li(class="nav-item")
                a(class="nav-link" href="/static/gallery" id="logo")
                  h5 Gallery
              li(class="nav-item")
                a(class="nav-link" href="/messages/contact" id="logo")
                  h5 Contact Me
    block content
    footer
      div(class="container")
        div(class="row")
<<<<<<< HEAD
          div(class="col-md-4")
            h5(class="text-center") Hours and Location
            hr
            p Brooklyn, NY
            p TyquanJReddick@gmail.com
=======
          div(class="col-md-3")
            h5(class="text-center") Hours and Location
            hr
            p Brooklyn, NY
            p tjreddick@gmail.com
>>>>>>> eb542255924448ec6061cbfd44e5e2997134ad91
            p
              b Open: 8am - 9pm
            p
              b Lunch: 1pm - 2pm
<<<<<<< HEAD
          div(class="col-md-4")
=======
          div(class="col-md-3")
>>>>>>> eb542255924448ec6061cbfd44e5e2997134ad91
            h5(class="text-center") Proud Member
            hr
            center
              img(class="img-fluid" src="/images/shield_badge.png")
<<<<<<< HEAD
          div(class="col-md-4")
=======
          div(class="col-md-3")
            h5(class="text-center") Categories
            hr
            a(class="nav-link" href="/" id="logo2")
              p Home
            a(class="nav-link" href="/static/allservices" id="logo2")
              p Services
            a(class="nav-link" href="/static/allcourses" id="logo2")
              p Courses
            a(class="nav-link" href="/static/allprojects" id="logo2")
              p Projects
            a(class="nav-link" href="/static/allblogs" id="logo2")
              p Vlog
            a(class="nav-link" href="/static/gallery" id="logo2")
              p Gallery
            a(class="nav-link" href="/messages/contact" id="logo2")
              p Contact Me
          div(class="col-md-3")
>>>>>>> eb542255924448ec6061cbfd44e5e2997134ad91
            h5(class="text-center") Latest Post
            hr
            p
              a(href="https://www.youtube.com/watch?v=XO6SV0Mup1E" id="logo2") Undestanding Agents
            p
              a(href="https://www.youtube.com/watch?v=XO6SV0Mup1E" id="logo2") Vuejs Full Stack Live Stream
            p
              a(href="https://www.youtube.com/watch?v=XO6SV0Mup1E" id="logo2") Meanstack 1.5
        hr
        div(class="row")
          div(class="col")
            p(class="text-center") Tyquan Reddick 2017
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")