extends ../../layout

block content
  div(id="adminBg")
    include ../nav.pug
    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          h1(class="text-center") Art
      br
      a(href="/admin/createartwork") Add A New Artwork
      br
      br
      