extends ../layout

block content
  div(id="marg")
  div(class="container")
    div(class="row")
      if (blogs.length > 0)
        each blog in blogs
          div(class="col-md-2")
            a(href=blog.linkUrl target="_blank")
              center
                img(src=blog.imageUrl id="serviceImage")
              h3(class="text-center" id="text")= blog.title
      else
        h1(class="text-center") No Blogs Added Yet