extends ../layout

block content
  div(id="servicebody")
    div(id="splash2")
      h1(class="text-center") My Videos
  br
  div(id="marg")
  div(class="container")
    div(class="row")
      if (blogs.length > 0)
        each blog in blogs
          div(id="col-sm-6")
            div(class="card")
              a(href="/static/showblog/" + blog.id)
                img(src=blog.imageUrl class="img-fluid")
                div(class="card-body")
                  p(class="card-title")=blog.title
      else
        h1(class="text-center") No Blogs Added Yet
  div(id="marg")