extends ../layout

block content
  div(id="projectbody")
    div(id="splash2")
      h1(class="text-center") Available Courses
  br
  div(id="marg")
  div(class="container")
    div(class="row")
      div(class="col")
        h2(class="text-center") Virtual Training Available!
  br
  div(class="container")
    hr
    div(class="row")
      if (courses.length > 0)
        each course in courses
          div(id="col-sm-6")
            div(class="card")
              img(src=course.imageUrl class="img-fluid")
              div(class='card-body')
                h3(class="card-title")= course.title
      else
        h1(class="text-center") No Courses Added Yet
  div(id="marg")
  div(id="sniff")
  script(src='/js/course.js')