extends ../layout

block content
  div(id="marg")
  div(class="container")
    div(class="row")
      div(class="col")
        h2(class="text-center") Private Online Video Training Available!
        br
        h4(class="text-center") Thanks to the creators of 
          a(href="https://www.teamviewer.us/") Teamviewer
        h4(class="text-center") I now offer video training sessions for all courses provided.
  br
  div(class="container")
    hr
    div(class="row")
      if (courses.length > 0)
        each course in courses
          div(class="col-md-2")
            a(href="/static/showcourse/" + course.id)
              center
                img(src=course.imageUrl id="courseImage")
              h3(class="text-center" id="text")= course.title
      else
        h1(class="text-center") No Courses Added Yet