extends ../layout

block content
  div(id="servicebody")
    div(id="splash2")
      h1(class="text-center") Available Services
  br
  div(id="marg")
  div(class="container")
    div(class="row")
      if (services.length > 0)
        each service in services
          div(class="col-md-2")
            a(href="/static/showservice/" + service.id target="_blank")
              center
                img(src=service.imageUrl class="img-fluid")
              h3(class="text-center" id="text")=service.title
      else
        h1(class="text-center") No Services Added Yet
  div(id="marg")