extends ../../layout

block content
  div(id="adminBg")
    div(class="row")
      div(class="col-md-2")
        include ../nav.pug
      div(class="col-md-10")
        h5 Ty's Blog Create Page
        br
        form(action="/admin/createblog" method="POST")
          label Title
          input(class="form-control" type="text" name="title")
          br
          label Image Url
          input(class="form-control" type="text" name="imageUrl")
          br
          label Video Url
          input(class="form-control" type="text" name="videoUrl")
          br
          label Category
          input(class="form-control" type="text" name="category")
          br
          label Description
          textarea(class="form-control" type="text" name="description")
          br
          input(class="form-control" type="submit" value="Submit")
  div(id="marg")